body {
  background-color: black;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 2fr;
  padding: 20px;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
  padding: 20px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../Images/SGP_1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 250px;
  color: white;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  font-style: normal;
  line-height: 1.5;
  margin: 0 auto;
}

header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
}
header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
}
header a {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  color: white;
  padding: 7px;
}

main {
  background-color: white;
  padding: 10px;
}

.SGP-photo {
  border-radius: 10px;
  max-width: 100%;
}
main h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}
main p {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: justify;
  line-height: 1.5;
  padding: 20px 0;
  margin: 0;
}

footer {
  color: rgb(24, 23, 23);
  text-align: left;
  background-image: linear-gradient(
      rgba(241, 236, 236, 0.669),
      rgba(241, 236, 236, 0.669)
    ),
    url("../Images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  font-style: normal;
  padding: 0 8px 0 8px;
}

footer h3 {
  padding: 5px;
}
footer li {
  list-style: none;
  color: rgb(24, 23, 23);
}
footer ul {
  padding: 5px;
  color: rgb(24, 23, 23);
}
footer a {
  opacity: 0.8;
  color: rgb(24, 23, 23);
}
footer p {
  text-align: justify;
  opacity: 0.8;
  padding: 0px 8px 0px 8px;
}

@media (max-width: 960px) {
  header {
    padding: 40px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}

@media (max-width: 960px) {
  footer h3 {
    font-size: 12px;
    padding: 0px 8px 0px 8px;
  }
  footer li {
    list-style: none;
    color: rgb(24, 23, 23);
    font-size: 12px;
  }
  footer ul {
    padding: 5px;
    color: rgb(24, 23, 23);
    font-size: 12px;
  }
  footer a {
    opacity: 0.8;
    color: rgb(24, 23, 23);
    font-size: 12px;
  }
  footer p {
    text-align: justify;
    opacity: 0.8;
    padding: 0px 8px 0px 8px;
    font-size: 12px;
  }
}
